a.buttons {
    display: inline-block;
    padding: 0.5em 2em;
    border: 0.16em solid $primaryDark;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: $white;
    color: $primary;
    text-align: center;
    transition: all 0.15s;
    max-height: 100px;
    vertical-align: center;
    cursor: pointer;
    min-width: 75%;
    width: 100%;

  @media all and (max-width: 600px) {
    width: 100%;
  }

  &:hover {
    background-color: $primaryDark;
    color: $white;
  }

  &.secondary {
    background-color: $primaryDark;
    color: $accent;
    border-color: $accent;

    &:hover {
      background-color: $accent;
      color: $primaryDark;
      border-color: $accent;
    }
  }
}
