.m-top-sm { margin-top: 10px; }
.m-bottom-md { margin-bottom: 20px; }
.bg-primary { background-color: $primary; }
.bg-primary-dark { background-color: $primaryDark; }
.bg-secondary { background-color: $secondary; }
.bg-accent { background-color: $accent; }
.bg-white { background-color: $white; }
.text-primary { color: $primary; }
.text-primary-dark { color: $primaryDark; }
.text-secondary { color: $secondary; }
.text-accent { color: $accent; }
.text-white { color: $white; }
.padding-md { padding: 2rem; }
.margin-sm { margin: 1rem; }
.margin-h-md { margin-left: 2rem; margin-right: 2rem; }
.center-text { text-align: center; }
.max-width-500 { max-width: 500px; }
.max-width-700 { max-width: 700px; }
.min-width-200 { min-width: 200px; }
.margin-0 { margin: 0 auto; }
