body {
  background-image: url('../assets/sayagata-400px.png');
  background-repeat: repeat;

  .container {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr;
    max-width: 600px;

    @media all and (max-width: 600px) {
      max-width: inherit;
    }
  }

  .three-column {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background: none;
    justify-items: center;


    @media all and (max-width: 600px) {
      grid-template-columns: auto;
    }
  }

  .single-column {
    display: grid;
    grid-template-columns: 1fr;
  }
}
