body {
  background-image: url('../assets/sayagata-400px.png');
  background-repeat: repeat;

  .container {
    marginLeft: auto;
    marginRight: auto;
    maxWidth: 100%;
    height: 100%;
    padding: 2rem;
  }

  .three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background: none;
    justify-items: center;
  }

  .single-column {
    display: grid;
    grid-template-columns: 1fr;
  }
}
